@media screen and (min-width: 320px) and (max-width: 1000px) {  
    
    .jumbotron
    {
        display:none;
    }
		
	h2
	{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size : 20px;
	}
	
	h3
	{
		font-size : 16px;
		margin-top: 10px;
		margin-bottom: 5px;
	}	
}

@media screen and (-webkit-min-device-pixel-ratio:0)  
{
    .notInChrome
    {
        display: none;    
    }
}