<div ng-controller="CaviaRampController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{module.moduleName}}</h2>
        </div>        
        <div>            
          <div class="panel-body">				               
              <div class="btn-group btn-group-justified" role="group">
                  <a href="#" type="button" 
                        class="btn btn-default"
                        ng-click="Pulse('Down')"
				        ng-mousedown="startLooping('Down')"
						ng-mouseup="stopLooping()"
						ng-mouseleave="stopLooping()">
                      <span class="glyphicon glyphicon-triangle-bottom"></span>
                  </a>
                  <a href="#" type="button" class="btn btn-default disabled" >
                      {{getCurrentValue()}}%
                  </a>
                  <a href="#" type="button" 
                        class="btn btn-default"
                        ng-click="Pulse('Up')"
				        ng-mousedown="startLooping('Up')"
					    ng-mouseup="stopLooping()"
						ng-mouseleave="stopLooping()">
                      <span class="glyphicon glyphicon-triangle-top"></span>
                  </a>
              </div>
          </div>
        </div>
    </div>
</div>

