<div ng-controller="CaviaRampController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{module.moduleName}}</h2>
        </div>        
        <div>            
            <div class="panel-body">
                <div class="btn-group btn-group-justified" role="group">              
                    <a href="#" type="button" class="btn btn-default disabled" >
                        {{module.signals['Display'].value}}
                    </a>               
                </div>
                <div class="btn-group btn-group-justified btn-group-lg" role="group">
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_1'].Pulse()">1</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_2'].Pulse()">2</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_3'].Pulse()">3</a>
                </div>                
                <div class="btn-group btn-group-justified btn-group-lg" role="group">
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_4'].Pulse()">4</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_5'].Pulse()">5</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_6'].Pulse()">6</a>
                </div>
                <div class="btn-group btn-group-justified btn-group-lg" role="group">
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_7'].Pulse()">7</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_8'].Pulse()">8</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_9'].Pulse()">9</a>
                </div>
                <div class="btn-group btn-group-justified btn-group-lg" role="group">
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_C'].Pulse()">C</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_0'].Pulse()">0</a>
                    <a type="button" class="btn btn-default" ng-click="module.signals['Key_OK'].Pulse()">&crarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>

