<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>{{module.moduleName}}</h2>
		</div>
		<div ng-controller="ClimateControlsController">
			<div class="panel-body">				
				<form>
					<div class="form-group col-md-12" role="group">
						<h3><!-- Power --></h3>
						<div class="btn-group  btn-group-justified">
							<a href="#" type="button" class="btn btn-default" ng-click="module.signals['On'].Pulse()">On</a>
							<a href="#" type="button" class="btn btn-default" ng-click="module.signals['Off'].Pulse()">Off</a>
						</div>
					</div>					
					<div class="form-group col-md-6">
						<h3>Mode</h3>					
						<div class="dropdown">
							<a href="#" class="btn btn-default dropdown-toggle btn-group-justified"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="modeDropDownMenu">
								{{module.mode}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="modeDropDownMenu">
								<li ng-repeat="m in modes" ng-click="changeMode(m)"><a href="#">{{m}}</a></li>
							</ul>
						</div>						
					</div>
					<div class="form-group col-md-6">
						<h3>Speed</h3>
						<div class="dropdown">
							<a href="#" class="btn btn-default dropdown-toggle btn-group-justified" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="fanSpeedDropDownMenu">
								{{module.fanSpeed}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="fanSpeedDropDownMenu">
								<li ng-repeat="f in fanSpeeds" ng-click="changeFanSpeed(f)"><a href="#">{{f}}</a></li>
							</ul>
						</div>							
					</div>
					<div class="form-group col-md-12">
						<h3>SetPoint</h3>
						<div class="btn-group btn-group-justified" role="group">
							<a href="#" type="button" 
									class="btn btn-default" 
									ng-click="ChangeSetPoint('Down')"
									ng-mousedown="startLooping('Down')"
									ng-mouseup="stopLooping()"
									ng-mouseleave="stopLooping()">
									<span class="glyphicon glyphicon-triangle-bottom"></span>
							</a>
							<a href="#" type="button" 
									class="btn btn-default disabled" >
									{{getSetPoint()}}%
							</a>
							<a href="#" type="button" 
									class="btn btn-default" 
									ng-click="ChangeSetPoint('Up')"
									ng-mousedown="startLooping('Up')"
									ng-mouseup="stopLooping()"
									ng-mouseleave="stopLooping()">
									<span class="glyphicon glyphicon-triangle-top"></span>
							</a>
						</div>
					</div>		
				</form>
			</div>
		</div>
	</div> 
</div>