<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{module.moduleName}}</h2>
        </div>        
        <div class="panel-body">				               
            <div ng-repeat="signal in module.signals">							
                <b>{{signal.signalName}} :</b>	{{signal.value}} 
                <div ng-switch="signal.type">
                    <div ng-switch-when="Digital">
                        <button ng-click="signal.Set()">Set</button>
                        <button ng-click="signal.Unset()">Unset</button>
                        <button ng-click="signal.Pulse()">Pulse</button>
                        <button ng-click="signal.Reset()">Reset</button>
                    </div>								
                    <div ng-switch-when="Analog">
                        <button ng-click="signal.Clear()">Clear</button>
                        <button ng-click="signal.Full()">Full</button>
                        <button ng-click="signal.Increase()">Increase</button>
                        <button ng-click="signal.Decrease()">Decrease</button>
                        <button ng-click="signal.Reset()">Reset</button>
                        <input type="text" ng-model="signal.newValue">
                        <button ng-click="signal.Set(signal.newValue)">Set</button>
                    </div>								
                    <div ng-switch-when="Serial">
                        <input type="text" ng-model="signal.newValue">
                        <button ng-click="signal.Set(signal.newValue)">Set</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
