<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>{{module.moduleName}}</h2>
		</div>
		<div ng-controller="VideoControlsController">
			<div class="panel-body">
				<div class="form-group">
					<h3><!-- Source --></h3>					
					<div class="dropdown">
						<a href="#" class="btn btn-default dropdown-toggle btn-group-justified" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="sourceDropDownMenu">
							{{module.source}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="sourceDropDownMenu">
							<li ng-repeat="s in sources" ng-click="changeSource(s)"><a href="#">{{s}}</a></li>
						</ul>
					</div>
					<h3><!-- Power --></h3>
					<div class="btn-group  btn-group-justified">
						<a href="#" type="button" class="btn btn-default" ng-click="powerOn()">On</a>
						<a href="#" type="button" class="btn btn-default" ng-click="module.signals['Off'].Pulse()">Off</a>
					</div>						
				</div>
			</div>		
		</div>
	</div>
</div>