<!doctype html>
<html ng-app="configApp">
	<head>
		<title>Cavia Client</title>
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- Cavia -->
		<!-- script src="./js/CaviaCore.js"></script -->		
		<script src="./js/Config.js"></script>		
	</head>
	<body>				
	    <div ng-controller="ConfigController">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <h2>Config</h2>
	            </div>        
	            <div>            
	                <div class="panel-body">			        	        
	                    Factory Hello: <span style="background-color: beige">{{config.factoryHello}}</span>
	                </div>            
	            </div>	
	        </div>
	    </div>	    
	</body>
</html>