<!doctype html>
<html ng-app="caviaApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>	
		<title>Cavia Client</title>
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- Cavia -->
		<script src="./js/CaviaCore.js"></script>		
		<script src="./js/Cavia.js"></script>	
	    <link rel="stylesheet" href="./css/cavia.css">

	    <!-- Cavia modules-->			
		<script src="./js/modules/CaviaRamp.js"></script>		
		<script src="./js/modules/ClimateControls.js"></script>		
		<script src="./js/modules/VideoControls.js"></script>		
	    
	    <!-- specific css for rendering inside iframe on extranet-->
		<link rel="stylesheet" href="./css/rijmenam.css">	
	</head>
	<body>				
		<div ng-controller="AreaController">
		    <div class="container-fluid">
		        <div class="row">
		            <div class="container-fluid">	
		                <div class="row">		                    
	                        <div class="alert alert-danger notInChrome" role="alert">
	                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Your browser probably is not supported. Please, use Chrome.
	                        </div>		                    
		                    Your current zone: 
		                    <select name="areaSelector" ng-model="selectedArea">
		                        <option ng-repeat="area in building.areas" value="{{area.areaName}}" >{{area.areaName}}</option>
		                    </select>									
		                </div>	
		                <div ng-repeat="area in building.areas | filter:selectedArea">
		                    <header class="jumbotron">
		                        <h1>{{area.areaName}}</h1>
		                    </header>							
		                    <div class="row">								
		                        <div ng-repeat="module in area.modules">
		                            <div class="col-md-4 col-sm-4">
		                                <ng-include src="module.getTemplateUrl()"></ng-include>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>									
		    </div>
		</div>	
	</body>
</html>